.PaginationContainer {
  padding: 10px 20px;
}

.PaginationList {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.PaginationItem {
  display: inline-block;
  padding: 3px;
}

.PaginationItem.dots {
  display: inline-block;
  padding: 3px 0;
}

.Page {
  cursor: pointer;
  border: 0;
  font-size: 12px;
}

.Page.active {
  font-weight: bold;
  color: #136fd3;
}
